MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_SSL=false
RSS_SYNC_ADMIN_SECRET=
PIXABAY_API_KEY=
PEXELS_API_KEY=
UNSPLASH_ACCESS_KEY=
UNSPLASH_SECRET_KEY=
UNSPLASH_APPLICATION_ID=
APP_BASE_URL=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
MOENV_AQI_API_KEY=
OPENCAGE_API_KEY=
CWA_API_KEY=
MOENV_NEWS_API_KEY=
MOENV_GP_API_KEY=